/* Universales */
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
nav ul{
	list-style: none;
}
input, textarea{
	display: block;
}

/* Colores de letra */
.white{
	color: white;
}
.blue{
	color: rgba(73,155,234,0.5);
}
.blue1{
	color: blue;
}
.red{
	color: red;
}
/* MArgin y padding */
.mt0{
		padding: 0% 0% !important;
}	
.w{
	width: 100% !important;
}
.mt-5{
	margin-top: 5%;
}
.ml-5{
	padding-left: 5%;
}
                          /* Header */
/* BG image */
.bg-img{
	background-image: url("../image/large.jpg");
	max-width: 100%;
	background-size: 100%;
}
.filtro{
	background-color: rgba(76,76,76,0.5);
	max-width: 100%;
	background-size: 100%;
}
/* Menu */
.navbar.navbar-default{
	background-color: rgba(76,76,76,0);
	width: 100%;
	border: none;
}
/* Descripcion */
.descripcion{
	font-size: 300%;
	font-weight: bold;
	padding: 8% 5%;
}
/* Prueba gratis */
.bg-cian{
	background-color: rgba(73,155,234,0.5);
	width: 100%;
	background-size: 100%;
	padding: 4% 0%;
}
                      /* Seccion 1 Nuestros servicios */
/*Titulo  */
.ns{
	font-size: 250%;
	font-weight: bold;
    margin: 10% 0%;
}
.color-size{
	font-size: 350%;
	color: rgba(73,155,234,0.5);
}
.circulo{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	box-shadow: 0 0 8px rgba(0, 0, 0, .6); 
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .6); 
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .6);
	 position: relative;
}
.movericon{
	margin: 33% 34%;
}
/* Imagenes */
.position{
	position: absolute;
}
.separador1{
	margin-top: -6%;
	margin-left: 45%;
}
                      /* Seccion lo quiero lo hago */
.bg-computadora{
	background-image: url("../image/sec-2.jpg");
	max-width: 100%;
	background-size: 100%;
	height: 400px;
	background-repeat: no-repeat;
}
/* Iconos */
.azul{
 background-color:  #499bea;
 width: 75px;
 height: 75px;
 position: relative;
 border-radius: 50%;
 margin: 8% 96%;
}
.size-color{
	font-size: 180%;
	color: white;
	margin: 30%;
}
                                /* Footer */
.bg-black{
	background-color: black;
}
