/* Universales */
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
input, textarea{
	display: block;
}

/* Colores de letra */
.white{
	color: white;
}
.blue{
	color: rgba(73,155,234,0.5);
}
.blue1{
	color: blue;
}
.red{
	color: red;
}
/* MArgin y padding */
.mt0{
		padding: 0% 0% !important;
}	
.w{
	width: 100% !important;
}
.mt-5{
	margin-top: 5%;
}
                          /* Header */
/* BG image */
.bg-img{
	background-image: url("../image/large.jpg");
	max-width: 100%;
	background-size: 100%;
}
.filtro{
	background-color: rgba(76,76,76,0.5);
	max-width: 100%;
	background-size: 100%;
}
/* Menu */
.navbar.navbar-default{
	background-color: rgba(76,76,76,0);
	width: 100%;
	border: none;
}
/* Descripcion */
.descripcion{
	font-size: 300%;
	font-weight: bold;
	padding: 8% 5%;
}
/* Prueba gratis */
.bg-cian{
	background-color: rgba(73,155,234,0.5);
	width: 100%;
	background-size: 100%;
	padding: 4% 0%;
}
                      /* Seccion 1 Nuestros servicios */
/*Titulo  */
.ns{
	font-size: 250%;
	font-weight: bold;
    margin: 10% 0%;
}
/* Imagenes */
.position{
	position: absolute;
}
.separador1{
	margin-top: -6%;
	margin-left: 45%;
}
